html {
    font-family: sans-serif;
    line-height: 1.5;
}

.table {
    min-width: 1000px;
    width: 100%;
    border: none;
    border-spacing: 0 8px;
    font-size: 18px;
    font-weight: bold;
}

.table .thead-dark th {
    background-color: #343a40;
    color: white;
    text-align: left;
    font-size: 20px;
    padding: 20px;
}

.table tbody tr {
    background-color: #d4f4ff;
}

.table tbody td {
    padding: 15px;
}

